html, body {
  height: 100%;
  width: 100%;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  margin: 20px;
  border-radius: 15px;
}

.btn {
  display: flex;
  height: 100px;
  width: 100px;
  color: white;
  background-color: gray;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 15px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

video{ 
  z-index: 1;
  margin: 0;
}

#video-or-gif {
  margin: 20px;

}


#video-div, #gif-result {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-right: 120px;
  overflow: hidden;
}

#option-box, #countdown-box {
  display: flex;
  position: absolute;
  height: 150px;
  width: 250px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  border-radius: 15px;
}

#option-box {
  background-color: white;
}

#countdown-box {
  color: white;
  font-size: 3em;
}

#two-btns {
  display: flex;
  flex-direction: row;
}

.option-btn {
  height: 100px;
  width: 100px;
  background-color: lightblue;
  color: white;
  margin: 10px;
}

#gif-column {
  height: 480px;
  width: 120px;
  flex: 1;
  align-self: center;
  margin-right: auto;
}

.miniPic {
  margin: 5px;
}

.hidden {
  display: none;
}

#start-over-btn {
  position: absolute;
  left: 2%;
  top: 2%;
  height: 50px;
}